.card-transparent {
  background-color: rgba(255, 255, 255, 0.5); /* semi-transparan putih */
  backdrop-filter: blur(8px); /* efek kaca buram (frosted glass) */
  -webkit-backdrop-filter: blur(8px); /* dukungan Safari */
  border: none;
  box-shadow: none;
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 2rem;
}

/* level  */
.card-transparent .list-group-item {
  background-color: transparent;
  border: none;
  color: white;
}

/* level  */
.card-transparent .list-group-item,
.card-transparent .list-group-item * {
  color: black !important;
}
